.card {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.card > img {
  max-height: 300px;
  max-width: 300px;
  object-fit: contain;
}

.card > h2 {
  font-family: "saiyan-sans";
  font-size: 2rem;
}