#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "saiyan-sans";
  src: local("Saiyan-Sans"),
  url("../assets/fonts/Saiyan-Sans.ttf") format("truetype");
}